<%= render partial: 'shared/nav', locals: { title: 'Dealerships' } %>
<div>
  <% if @dealerships.empty? %>
    <span>There's no dealerships</span>
  <% else %>
    <div class="dealership__wrapper">
      <div class="dealership__table">
        <div class="dealership__row header">
          <div class="dealership__cell">Name</div>
          <div class="dealership__cell <%= 'visible' if current_user.admin? %>">Option</div>
        </div>
        <% @dealerships.each do |dealer| %>
          <%= render partial: 'dealer_row', locals: { dealer: dealer } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="purple__btn">
    <%= link_to('Create Dealership', new_dealership_path) if current_user.admin? %>
  </div>
</div>
